body {
    background: #12273d;
    background: linear-gradient(to right, #05101b, #12273d);
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background: #12273d !important;
    color: white !important;
  }
  
  .form-control:focus {
    border-color: #12273d !important;
    box-shadow: 0 0 0 0.05rem #12273d !important;
}

  